
.col1, .col2, .col3, .cols { float:left;}

.cols{ width:190px;}

.col1{ width:670px;}
.col3{ width:200px;}
.col2{ width:220px;}


/*======= index.html =======*/
#page1 .body2{ background:url(../images/bg_slider.gif) bottom repeat-x}
#page1 header{}
/*======= index-1.html =======*/
/*======= index-2.html =======*/
#page3 .cols{ width:270px;}
#page3 #content{ padding-top:4px}
#page3 figure{ padding-top:5px;}
/*======= index-3.html =======*/
#page4 .cols{ width:270px;}
#page4 h3{ line-height:2.1em; margin-bottom:1px;}
#page4 figure{ padding-bottom:19px;}
#page4 .pad_bot2{ padding-bottom:48px;}
#page4 #content { padding-bottom:57px;}
/*======= index-4.html =======*/
#page5 #content{ padding-top:4px}
/*======= index-5.html =======*/
/*======= index-6.html =======*/

#page6 #content { padding-bottom:57px;}
/*====== blog.html ======*/

#page7 .cols{ width:270px;}
#page7 h3{ line-height:2.1em; margin-bottom:1px;}
#page7 figure{ padding-bottom:19px;}
#page7 .pad_bot2{ padding-bottom:48px;}
#page7 #content { padding-bottom:57px;}

#page8 .cols{ width:270px;}
#page8 h3{ line-height:2.1em; margin-bottom:1px;}
#page8 figure{ padding-bottom:19px;}
#page8 .pad_bot2{ padding-bottom:48px;}
#page8 #content { padding-bottom:57px;}

#page9 .cols{ width:270px;}
#page9 h3{ line-height:2.1em; margin-bottom:1px;}
#page9 figure{ padding-bottom:19px;}
#page9 .pad_bot2{ padding-bottom:48px;}
#page9 #content { padding-bottom:57px;}

#page10 .cols{ width:270px;}
#page10 h3{ line-height:2.1em; margin-bottom:1px;}
#page10 figure{ padding-bottom:19px;}
#page10 .pad_bot2{ padding-bottom:48px;}
#page10 #content { padding-bottom:57px;}

#page11 .cols{ width:270px;}
#page11 h3{ line-height:2.1em; margin-bottom:1px;}
#page11 figure{ padding-bottom:19px;}
#page11 .pad_bot2{ padding-bottom:48px;}
#page11 #content { padding-bottom:57px;}

#page12 .cols{ width:270px;}
#page12 h3{ line-height:2.1em; margin-bottom:1px;}
#page12 figure{ padding-bottom:19px;}
#page12 .pad_bot2{ padding-bottom:48px;}
#page12 #content { padding-bottom:57px;}

#page13 .cols{ width:270px;}
#page13 #content{ padding-top:4px}
#page13 figure{ padding-top:5px;}
/*======= de.html =======*/